.text-input {
	background-color: #f2f2f2;
	border: none;
	font-family: inherit;
	font-size: inherit;
	padding: 5px;
	border-radius: 5px;
}

.text-input::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}
